//Breakpoints
$breakpoints: (
    mobile: 0px,
    tablet: 768px,
    ordi: 1024px,
    largeOrdi: 1440px
);

//Others variables
$margin: 5px 10px 15px 20px;
$padding: 5px 10px 15px 20px;
$gap: 5px 10px 15px 20px;

$white-color: #FFFFFF;
$black-color: #000000;
$boxes: #141c21;
$orange-color: #FF6060;
$green-mint: #A2E4B8;
$yellow-banana: #FEDD00;
$gray: #ededed;
$gray-d: #D3D3D3;
$contact: #97aeb0f7;