@import '../utils/variables';
@import '../utils/mixins';

.boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    & .section-collapse {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: $black-color;
        padding: nth($padding, 2);
        & h2 {
            text-transform: capitalize;
        }
        & svg {
            cursor: pointer;
        }
    }
    .boxes-childs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: nth($gap, 1);
        width: 100%;
        padding: nth($padding, 3);
        background-color: $black-color;
        & .link-button{
            width: 100%;
            .button{
                cursor: pointer;
                padding: nth($padding, 1)*1.6;
                width: 100%;
                background: $contact;
                color: $black-color;
            }
        }

    }
}