@import '../utils/variables';
@import '../utils/mixins';

.fut-main{
    display: flex;
    justify-content: center;
    align-items: center;
    & .backg-main{
        display: flex;
        justify-content: center;
        height: 100%;
        background: $boxes;
        @include mobile{
            width: 100%;
            flex-direction: column;
            padding: nth($padding, 2);
            gap: nth($gap, 3);
        }
        @include ordi{
            width: 90%;
            flex-direction: row;
        }
    }
    & .fit--img{
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
            width: 100%;
        }
        @include ordi{
            width: 45%;
        }
        img{
            object-fit: cover;
            height: 90%;
            @include mobile{
                width: 90%;
            }
        }
    }
    & .fit--text{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: nth($gap, 4);
        @include mobile{
            width: 100%;
        }
        @include ordi{
            width: 55%;
        }
        h1, p, & .text-fut{
            width: 90%;
        }
        & .text-fut>ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: nth($gap, 3);
        }
    }
}