@import '../utils/variables';
@import '../utils/mixins';

.fut-main{
    display: flex;
    justify-content: center;
    align-items: center;
    & .backg-main{
        display: flex;
        justify-content: center;
        height: 100%;
        background: $boxes;
        @include mobile{
            width: 90%;
            flex-direction: column;
            gap: nth($gap, 4);
        }
        @include ordi{
            width: 90%;
            flex-direction: row;
            gap: 0;
        }
    }
    & .fit--img{
        background: url('../../assets/pages/futcha.webp') no-repeat center;
        background-size: cover;
        @include mobile{
            width: 100%;
            height: 520px;
        }
        @include ordi{
            width: 45%;
            height: 1265px;
        }
        @include largeOrdi{
            height: 992px;
        }
    }
    & .fit--text{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: nth($gap, 4)*1.5;
        @include mobile{
            width: 100%;
        }
        @include ordi{
            width: 55%;
        }
        h1, p, & .text-fut{
            width: 90%;
        }
        & .text-fut>ul{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            gap: nth($gap, 3);
            @include tablet{
                flex-direction: row;
            }
            li{
                display: flex;
                position: relative;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border-radius: 10px;
                @include mobile{
                    height: 185px;
                    width: 47%;
                }
                @include tablet{
                    width: 30%;
                }
                @include ordi{
                    width: 45%;
                }
                @include largeOrdi{
                    width: 30%;
                }
                & .heading {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    p{
                        width: 100%;
                        text-align: center;
                    }
                }
                & .heading--text {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    padding: nth($padding, 2);
                }
            }
            li:hover,
            li:focus,
            li:active{
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                & .heading{
                    opacity: 0.1;
                    transition: .5s;
                }
                & .heading--text{
                    color: $white-color;
                    opacity: 1;
                    transition: .5s;
                }
            }
        }
    }
}